[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UserSettings/

*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd

DodgeGame.slnx
.vscode/
.DS_Store

mono_crash.*


obj/



# Crash logs
mono_crash.*.json